body {
  background-image: url("./images/village.jpg");
  background-size: 1440px;
  background-position-x: 120%;
  background-position-y: 0%;
  margin: 0%;
}

button:hover {
  cursor: pointer;
}

button {
  height: 40px;
}

#button1 {
  display: none;
  font-family:fantasy;
  font-size: larger;
  background-color:burlywood;
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
}

#button2 {
  font-family:fantasy;
  font-size: larger;
  background-color:red;
  float: right;
  margin-top: 7px;
}

#text {
  font-family: fantasy;
  font-size:larger;
  background-color: black;
  color: white;
  padding: 10px;
  height: 210px;
}

#hero {
  width: 300px;
  height: auto;
  position: fixed;
  left: 500px;
  top: 18px;
}

#seller {
  display: none;
  width: 300px;
  height: auto;
  position: fixed;
  right: 8px;
  top: 18px;
}

#dragon {
  display: none;
  width: 500px;
  height: 400px;
  position: fixed;
}

#healthpack {
  display:none;
  width: 100px;
  height: 100px;
  position:fixed; 
  bottom: 300px; 
  right:600px;
  transform:rotate(25deg);
}

#upgrader {
  display: none;
  width: auto;
  height: 250px;
  position:fixed; 
  bottom: 160px; 
  right:200px;
}

#upgrade1 {
  display:none;
  width: auto;
  height: 100px;
  position:fixed; 
  bottom: 0px; 
  right:630px;
}

#upgrade1:hover {
  cursor: pointer;
}

#next {
  cursor: pointer;
  display:none;
  width: auto;
  height: 250px;
  position: fixed; 
  top: 182px; 
  right:1230px;
}

#conv1 {
  display:none;
  width: 250px;
  height: auto;
  position:fixed; 
  bottom: 420px; 
  right:30px;
}

#conv2 {
  display:none;
  width: 250px;
  height: auto;
  position:fixed; 
  top: 150px; 
  right:190px;
}

#conv3 {
  display:none;
  width: 250px;
  height: auto;
  position:fixed; 
  bottom: 420px; 
  right:30px;
}

#arrow1{
  display:none;
  width: auto;
  height: 190px;
  position:fixed; 
  bottom: 210px; 
  left:550px;
  transform:rotate(-20deg);

}

#arrow2{
  display:none;
  width: auto;
  height: 250px;
  position:fixed; 
  bottom: 60px; 
  right:440px;
  transform:rotate(-30deg);

}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 2;}
}

#game {
  float: left;
  text-align: center;
  width: 480px;
  height: 335px;
  background-color:darkslategray;
  margin: 0%;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

#stats {
  font-family:fantasy;
  font-size: larger;
  border: 1px black solid;
  padding: 10px;
}

.stat {
  padding-right: 10px;
}

.stat1 {
  color: red;
}

.stat2{
  color:darkolivegreen
}

.stat3 {
  color: gold;
}

#fireball {
  position:fixed;
  display: none;
  rotate: 90deg;
  right:300px;
  top:200px;
  width: 300px;
  height: auto;
  animation-name: diagonal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes diagonal {
  to { transform: translateX(100%) translateY(150%); }
}