/* Body */
body {
  background-image: url("./images/village.jpg");
  background-size: 1440px;
  background-position-x: 120%;
  background-position-y: 0%;
  margin: 0%;
}


/* Buttons */
button:hover {
  cursor: pointer;
}

button {
  height: 40px;
}

#button1 {
  display: none;
  font-family:fantasy;
  font-size: larger;
  background-color:burlywood;
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
}

#button2 {
  font-family:fantasy;
  font-size: larger;
  background-color:red;
  float: right;
  margin-top: 7px;
}

#attack_btn {
  display:none;
  width: auto;
  height: 150px;
  position:fixed; 
  bottom: 0px; 
  right:800px;
  animation:fade infinite 1s
}

#attack_btn:hover {
  cursor: pointer;
}

#visit_btn1 {
  display:none;
  width: auto;
  height: 100px;
  position:fixed; 
  top: 220px; 
  right: 270px;
  transform: rotate(20deg);
  z-index: -1;
}

#visit_btn1:hover {
  cursor: pointer;
}

#visit_btn2 {
  display:none;
  width: auto;
  height: 80px;
  position:fixed; 
  top: 150px; 
  left: 650px;
  transform: rotate(-10deg);
  z-index: 3;
}

#visit_btn2:hover {
  cursor: pointer;
}

#next {
  cursor: pointer;
  display:none;
  width: auto;
  height: 250px;
  position: fixed; 
  top: 182px; 
  right:1230px;
}


/* Characters & Assets */
#hero {
  width: 300px;
  height: auto;
  position: fixed;
  left: 500px;
  top: 18px;
}

#seller {
  display: none;
  width: 300px;
  height: auto;
  position: fixed;
  right: 8px;
  top: 18px;
}

#dragon {
  display: none;
  width: 500px;
  height: 400px;
  position: fixed;
}

#minion1 {
  display: none;
  width: 130px;
  height: auto;
  right: 440px;
  top: 250px;
  position: fixed;
}

#minion2 {
  display: none;
  width: 200px;
  height: auto;
  left: 580px;
  top: 10px;
  transform:rotate(-45deg);
  position: fixed;
}

#rip {
  display: none;
  width: 300px;
  height: auto;
  right: 100px;
  top: 350px;
  position: fixed;
  transform:rotate(15deg);

}

#healthpack {
  display:none;
  width: 100px;
  height: 100px;
  position:fixed; 
  bottom: 300px; 
  right:600px;
  transform:rotate(25deg);
}

#upgrader {
  display: none;
  width: auto;
  height: 250px;
  position:fixed; 
  bottom: 160px; 
  right:200px;
}

#weapon_upgrade1 {
  display:none;
  width: auto;
  height: 100px;
  position:fixed; 
  bottom: 0px; 
  right:500px;
}

#weapon_upgrade1:hover {
  cursor: pointer;
}

#upgrade_health {
  display:none;
  width: auto;
  height: 150px;
  position:fixed; 
  bottom: 0px; 
  right:800px;
}

#upgrade_health:hover {
  cursor: pointer;
}

#arrow1 {
  display:none;
  width: auto;
  height: 190px;
  position:fixed; 
  bottom: 210px; 
  left:550px;
  transform:rotate(-20deg);
}

#arrow2 {
  display:none;
  width: auto;
  height: 250px;
  position:fixed; 
  bottom: 60px; 
  right:440px;
  transform:rotate(-30deg);
}

#fireball {
  position:fixed;
  display: none;
  rotate: 90deg;
  right:300px;
  top:200px;
  width: 300px;
  height: auto;
  animation-name: dragonAttack;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#sword {
  position:fixed;
  display: none;
  rotate: 0deg;
  left:300px;
  bottom:200px;
  width: 200px;
  height: auto;
  animation-name: heroAttack;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


/* Dialogue */
#conv1, #conv4 {
  display:none;
  width: 250px;
  height: auto;
  position:fixed; 
  bottom: 420px; 
  right:30px;
}

#conv2 {
  display:none;
  width: 250px;
  height: auto;
  position:fixed; 
  top: 150px; 
  right:190px;
}

#conv3 {
  display:none;
  width: 250px;
  height: auto;
  position:fixed; 
  bottom: 420px; 
  right:30px;
}

#conv5 {
  display:none;
  width: 300px;
  height: auto;
  position:fixed; 
  bottom: 280px; 
  left:200px;
}


/* Player and villain panels */
#leftPanel, #rightPanel {
  text-align: center;
  width: 480px;
  height: 335px;
  background-color:rgb(29, 91, 76);
  margin: 0%;
}

#text, #villainName {
  font-family: fantasy;
  font-size:larger;
  background-color: black;
  color: white;
  padding: 10px;
  height: 210px;
}

#stats {
  font-family:fantasy;
  font-size: larger;
  border: 1px black solid;
  padding: 10px;
}

.stat {
  padding-right: 10px;
}

.stat1 {
  color: red;
}

.stat2{
  color:darkolivegreen
}

.stat3 {
  color: gold;
}


/* Animations */
@keyframes dragonAttack {
  to { transform: translateX(100%) translateY(150%); }
}

@keyframes heroAttack {
  to { transform: translateX(300%) translateY(-20%); }
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 2;}
}